<!-- <form [formGroup]="form" (ngSubmit)="search()">
    <select formControlName="selectControl">
      <option value="option1">Option 1</option>
      <option value="option2">Option 2</option>
      <option value="option3">Option 3</option>
    </select>
    <button type="submit" (click)="submit()">Submit</button>
  </form> -->
  
<div class="d-flex justify-content-center mt-5 mb-5">
    <nav class="float-center">
        <form class="d-flex" role="search" [formGroup]="form" (ngSubmit)="search()">

            <select formControlName="selectCategory" class="form-select">
                <option value="ALL" selected>Select a category</option>
                <option *ngFor="let category of allCategories" value={{category.name}}>{{category.name}}</option>
            </select>

            <input  formControlName="nameCategory" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button  class="btn" style="background-color: #EF7F2D; color: white;" type="submit">Search</button>
        </form>
    </nav>
</div>

<!-- <p>searchbar works!</p> -->
<!-- <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex" role="search">
                <ul class="me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                    </li>
                </ul>
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
      </div>
    </div>
  </nav> -->
