<!-- <p>product-fournisseur works!</p> -->
<a *ngIf="isAdminOrFournisseur" class="btn mb-5" style="color: #EF7F2D;" (click)="goToProductCreate()">Add Product</a>

<div class="container">
    <div *ngIf="isAdminOrFournisseur" class="row mb-5">
        <div class="col-4" *ngFor="let product of myProduct" role="button">
            <div class="card mb-5" style="width: 18rem;"  (click)="goToProductDetail(product.id); $event.stopPropagation();">
                <div class="position-relative">

                    <div  *ngIf="product.images[0]; else hiddenText">
                        <img src={{product.images[0].img}} style="height: 200px;" class="card-img-top rounded float-start" alt={{product.name}}>
                    </div>
                    <ng-template #hiddenText>
                        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/amazon-tech-products-2021-1635430982.jpg" style="height: 200px;" class="card-img-top rounded float-start" alt={{product.name}}>
                    </ng-template>

                    <div *ngIf="isAdminOrFournisseur" class="d-flex justify-content-between position-absolute" style="top: 100%; left: 20%;">
                        <a (click)="goToProductDetail(product.id); $event.stopPropagation();" class="m-2"><i style="color: #EF7F2D;" class="fa-solid fa-circle-info fa-2x  my-hover"></i></a>
                        <a (click)="updateBasket(product.id); $event.stopPropagation();" class="m-2" ><i style="color: #EF7F2D;" class="fa-sharp fa-solid fa-cart-plus fa-2x"></i></a>

                        <a (click)="editProduct(product.id); $event.stopPropagation();" class="m-2" ><i style="color: #EF7F2D;" class="fa-solid fa-pen-to-square fa-2x"></i></a>
                        <a (click)="deleteProduct(product.id); $event.stopPropagation();" class="m-2"><i style="color: #EF7F2D;" class="fa-solid fa-trash fa-2x  my-hover"></i></a>

                    </div>
                </div>
                <div  *ngIf="isAdminOrFournisseur" class="card-body" style="margin-top: 30px;">
                    <h5 class="card-title text-center">{{product.name}}</h5>
                    <p class="card-text text-center">{{product.selling_price}} $</p>
                </div>
                <!-- <div  *ngIf="!isAdmin" class="card-body" style="margin-top: -10px;">
                    <h5 class="card-title text-center">{{product.name}}</h5>
                    <p class="card-text text-center">{{product.selling_price}} $</p>
                </div> -->
            </div>
        </div>
    </div>
</div>