<!-- <p>product-list works!</p> -->

<a *ngIf="isAdmin || isFournisseur" class="btn mb-5" style="color: #EF7F2D;" (click)="goToProductCreate()">Add Product</a>

<div class="container">

    <div *ngIf="product_exist" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>product already existe in basket!</strong> You should check in on your Basket.
        <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
    </div>
    <!-- <div *ngIf="isAdmin">
        I am an ADMIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIN
    </div> -->
    <div *ngIf="!current_category" class="row mb-5">
        <div class="col-4" *ngFor="let product of products" role="button">
            <div class="card mb-5" style="width: 18rem;"  (click)="goToProductDetail(product.id); $event.stopPropagation();">
                <div class="position-relative">

                    <div  *ngIf="product.images[0]; else hiddenText">
                        <img src={{product.images[0].img}} style="height: 200px;" class="card-img-top rounded float-start" alt={{product.name}}>
                    </div>
                    <ng-template #hiddenText>
                        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/amazon-tech-products-2021-1635430982.jpg" style="height: 200px;" class="card-img-top rounded float-start" alt={{product.name}}>
                    </ng-template>
                    <div *ngIf="!isAdmin">
                        <div class="text-center justify-content-between" style="top: 80%; left: 20%;" >
                            <a (click)="goToProductDetail(product.id); $event.stopPropagation();" style="padding: 25px;"><i style="color: #EF7F2D;" class="fa-solid fa-circle-info fa-2x  my-hover"></i></a>
                            <a  (click)="updateBasket(product.id); $event.stopPropagation();" style="padding: 25px;" ><i style="color: #EF7F2D;" class="fa-sharp fa-solid fa-cart-plus fa-2x"></i></a>
                            <!-- <a (click)="test(); $event.stopPropagation();" class="m-2" ><i style="color: #EF7F2D;" class="fa-sharp fa-solid fa-cart-plus fa-2x"></i></a> -->
                        </div>
                    </div>

                    <div *ngIf="isAdmin" class="d-flex justify-content-between position-absolute" style="top: 100%; left: 20%;">
                        <a (click)="goToProductDetail(product.id); $event.stopPropagation();" class="m-2"><i style="color: #EF7F2D;" class="fa-solid fa-circle-info fa-2x  my-hover"></i></a>
                        <a (click)="updateBasket(product.id); $event.stopPropagation();" class="m-2" ><i style="color: #EF7F2D;" class="fa-sharp fa-solid fa-cart-plus fa-2x"></i></a>

                        <a (click)="editProduct(product.id); $event.stopPropagation();" class="m-2" ><i style="color: #EF7F2D;" class="fa-solid fa-pen-to-square fa-2x"></i></a>
                        <a (click)="deleteProduct(product.id); $event.stopPropagation();" class="m-2"><i style="color: #EF7F2D;" class="fa-solid fa-trash fa-2x  my-hover"></i></a>

                    </div>
                </div>
                <div  *ngIf="isAdmin" class="card-body" style="margin-top: 30px;">
                    <h5 class="card-title text-center">{{product.name}}</h5>
                    <p class="card-text text-center">{{product.selling_price}} $</p>
                    <!-- <a href="#" class="btn btn-primary" (click)="goProductList()">Go somewhere</a> -->
                </div>
                <div  *ngIf="!isAdmin" class="card-body" style="margin-top: -10px;">
                    <h5 class="card-title text-center">{{product.name}}</h5>
                    <p class="card-text text-center">{{product.selling_price}} $</p>
                    <!-- <a href="#" class="btn btn-primary" (click)="goProductList()">Go somewhere</a> -->
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="current_category && allProduct.length >0" class="row mb-5">
        <div class="col-4" *ngFor="let product of allProduct" role="button">
            <div class="card mb-5" style="width: 18rem;"  (click)="goToProductDetail(product.id); $event.stopPropagation();">
                <div class="position-relative">

                    <div  *ngIf="product.images && product.images.length >0; else hiddenText">
                        <img src={{product.images[0].img}} style="height: 200px;" class="card-img-top rounded float-start" alt={{product.name}}>
                    </div>
                    <ng-template #hiddenText>
                        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/amazon-tech-products-2021-1635430982.jpg" style="height: 200px;" class="card-img-top rounded float-start" alt={{product.name}}>
                    </ng-template>

                    <div class="d-flex justify-content-between position-absolute" style="top: 80%; left: 20%;">
                        <a (click)="goToProductDetail(product.id); $event.stopPropagation();" class="m-2"><i style="color: #EF7F2D;" class="fa-solid fa-circle-info fa-2x  my-hover"></i></a>
                        <a (click)="updateBasket(product.id); $event.stopPropagation();" class="m-2" ><i style="color: #EF7F2D;" class="fa-sharp fa-solid fa-cart-plus fa-2x"></i></a>

                        <a (click)="editProduct(product.id); $event.stopPropagation();" class="m-2" ><i style="color: #EF7F2D;" class="fa-solid fa-pen-to-square fa-2x"></i></a>
                        <a (click)="deleteProduct(product.id); $event.stopPropagation();" class="m-2"><i style="color: #EF7F2D;" class="fa-solid fa-trash fa-2x  my-hover"></i></a>

                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">{{product.name}}</h5>
                    <p class="card-text text-center">{{product.selling_price}} $</p>
                    <!-- <a href="#" class="btn btn-primary" (click)="goProductList()">Go somewhere</a> -->
                </div>
            </div>
        </div>
    </div>
    <div class="text-center" *ngIf="current_category && allProduct.length == 0">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div>
            no product was found with {{current_category}} category
        </div> 
    </div>
</div>

