<!-- <div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col py-3">
    </div>
  </div>
</div> -->
<!-- <div class="container">
  <router-outlet name="contenu"></router-outlet>
</div> -->
<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-3 my-component">
      <app-sidebar class="d-flex justify-content-start my-component mt-5"></app-sidebar>
    </div>
    <div class="col-9">
      <app-searchbar></app-searchbar>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<app-footer></app-footer>